


.navbar {
    background-color: #ac5959; /* Arrière-plan gris clair */
    border-bottom: 1px solid #ccc; /* Bordure inférieure grise */
  }
  
  .navbar-brand img {
    max-height: 40px; /* Ajuster la hauteur maximale du logo */
  }
  
  .navbar-nav .nav-link img {
    max-height: 30px; /* Ajuster la hauteur maximale des icônes des réseaux sociaux */
  }
  