<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1557053910-d9eadeed1c58?q=80&w=600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ h5 }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ h6 }}</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dui a nunc ultricies, sed consectetur velit dignissim. Integer tristique mauris ac dui sagittis dignissim.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 100%;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1502031882019-24c0bccfffc6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ h5 }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ h6 }}</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan dui a nunc ultricies, sed consectetur velit dignissim. Integer tristique mauris ac dui sagittis dignissim.</p>
        </div>
      </div>
    </div>
  </div>
</div>